<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clear_co2_application">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Clear_CO2_Application">
        <activity android:name=".ProcessPopUp_Activity"></activity>
        <activity android:name=".ProductDetailActivity" />
        <activity
            android:name=".PopUp_Activity"
            android:theme="@style/Theme.PopMe" />
        <activity android:name=".new_user.User_Register_Activity" />
        <activity android:name=".HomePageActivity" />
        <activity android:name=".quiz.Questionnaire5_Activity" />
        <activity android:name=".quiz.Questionnaire4_Activity" />
        <activity android:name=".quiz.Questionnaire3_Activity" />
        <activity android:name=".quiz.Questionnaire2_Activity" />
        <activity android:name=".quiz.Questionnaire1_Activity" />
        <activity android:name=".quiz.Questionnaire0_Activity" />
        <activity android:name=".OTPVerification_Activity" />
        <activity android:name=".PhoneVerification_Activity" />
        <activity android:name=".Main_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProductProfileActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>